
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
      <h1>Coding Challenge </h1>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This is the solution for 9Digital Coding Challenge
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        It's pretty simple. We'll post some JSON data to the URL you provide. You'll need to filter that JSON data and return a few fields. Here's an <a href="http://mi9-coding-challenge.herokuapp.com/sample_request.json">example request</a> and an <a href="http://mi9-coding-challenge.herokuapp.com/sample_response.json"> example response</a>.
      </ul>
    </div>
    <div class="col-md-6">
        I have created the sample testing file, which is attached in the response email. (which will run on localhost). 
        You can check the final result through testing file (<b>console.log (body)</b>)
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
